.body {
    background-position: center;
    background-size: cover;
    margin: 0;
}

.container {
    position: relative;
    overflow: hidden;
    float: left;
    width: 100vw;
    height: 100%;
    padding: 0;
}

.description {
    padding: 8px;
    width: calc(100% - 16px);
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=30); /* IE lt 8 */
    -ms-filter: "alpha(opacity=30)"; /* IE 8 */
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;  /* Firefox 4-15 */
    -o-transition: 0.5s;  /* Opera 10.5–12.00 */
    transition: 0.5s;  /* Firefox 16+, Opera 12.50+ */
    position: absolute;
    bottom: -216px;
    height: 100px;
    text-align: left;
    color: azure;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 200;
    overflow: clip;
}

.container:hover .description {
    bottom: 0;
}

.title {
    padding-bottom: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
}